body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f8;
}

.dark {
  background: #0f172a;
  color: white;
}

header {
  background: #2563eb;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-link {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.search-box {
  text-align: center;
  padding: 15px;
}

.search-box input {
  width: 60%;
  padding: 10px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.product img {
  width: 100%;
  height: 140px;
}

.product button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  border: none;
  color: white;
  cursor: pointer;
}

#cartItems {
  padding: 20px;
}