body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

header {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 220px;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}

.card img {
    width: 100%;
}

button {
    background: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
